In [ ]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [ ]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

#Entropy
$Entropy(a) = -\sum_{k = 1}^{m}{p_klog_2(p_k)}$

In [ ]:
import math
def getEntropy(df, feature) :
  fea_class=df[feature].unique() #매개변수 feature(목표변수)의 각 class값을 fea_class에 넣기

  entropy=0 #entropy 값을 저장하는 변수
  for i in fea_class: #fea_class에서 class 값을 하나씩 받아옴
    p=len(df[df[feature]==i])/len(df[feature]) #전체에서 해당 class의 비율인 확률을 구함
    entropy-=p*math.log(p,2) #해당 확률과 확률에 로그를 씌운 값을 누적함

  #for문을 다 돌면 매개변수의 feature(목표변수)의 엔트로피가 반환됨


  return entropy

In [ ]:
getEntropy(df, "class_buys_computer")

0.9402859586706309

#Information Gain 
: 상위 노드의 Entropy에서 하위노드의 Entropy를 뺀 값<br><br>
$Info(D) = Entropy_{label}$<br>
$ I(S,A)=\sum_{i}{\frac{|S_i|}{|S|}E(S_i)}$<br>
$Gain(S,A)=E(S)-I(S,A)=E(S)-\sum_{i}{\frac{|S_i|}{|S|}E(S_i)}$

In [ ]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    
    result={}
    for i in columns: #for문을 돌며 나머지 변수에 대해 하나씩 계산함
      fea_class=df[i].unique() #for을 돌며 할당받은 변수에 대한 class 값을 받아서 저장
      under_entropy=0 #각각 class에 대한 하위 엔트로피 값을 받을 것임으로 0으로
      for j in fea_class: #for 문을 돌며 할당받은 변수에 대한 class에 대해서 하나씩 계산
        under_entropy+=getEntropy(df[df[i]==j],feature)*(len(df[df[i]==j])/len(df[i])) 
        #class값에 대한 엔트로피 값과 그 변수에서 해당 class가 가치하는 비율을 구해서 곱한다 => 가중치를 고려한 평균!!
      result[i]=info_D-under_entropy 
      #할당받은 변수의 모든 class에 대해 계산을 수행했으니 key값을 변수 이름, value를 information gain값으로 하여 딕셔너리로 저장
    return result
    #변수에 대한 infomation gain값이 담긴 딕셔너리를 반환

In [ ]:
getGainA(df, "class_buys_computer")

{'age': 0.2467498197744391,
 'credit_rating': 0.04812703040826927,
 'income': 0.029222565658954647,
 'student': 0.15183550136234136}